html,
body {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Open Sans";
    color: #fff;
}

#clock {
    font-size: 120px;
    font-weight: 300;
}